*{
    margin:0;
    font-family: 'Lato', sans-serif;
    color:#CFD1CD;
/*     border: 2px solid rgba(256, 0, 0, 0.3);*/
    box-sizing: border-box; /* change default box behavior */
}

body{
    height: 100vh;
    width: 100vw; /** why not *//
    background-color: #CFD1CD;
}

body, html{
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#top{
    height:15vh; /** 15 % relative to view height **/
    width:100vw;
    background-color: #372F49;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 1vh 0.5vh #372F49;
}

#top img{
    height: 95%; /** 15 % relative to its box **/
    display:block;
    margin-left:auto;
    margin-right: auto;
    padding:0.25%;
}


#tilbake, #fram {
    height:77vh;
    width:10vw;
    position: fixed; /* Alltid samme posisjon på siden */
    cursor: pointer;
    color: #CFD1CD;
    line-height:50vh;
    font-size: 15vh;
    padding-top: 13vh;
    padding-left: 2.5vw;
/*    Alltid ligge øverst, gi stor z-index*/
    z-index: 2;
}

#tilbake{
    left: 0;
}


#fram{
    right: 0;
}

#fram:hover, #tilbake:hover {
/*    Kode kan eventuelt legges i jQuery for dette*/
    background-color: rgba(207,209,205,0.2);
    color: #CFD1CD;
    font-weight: bolder;
}

#content{
    position: relative;
    height:77vh;
    width: 100vw;
/*    border: 2px solid rgb(0, 256, 0);*/
}

#proffesor img{
    display: block;
    height: 40vh;
    width: 40vh;
    position: absolute;
    bottom: 0;
    right: 15vw;
}

#evaluation{
    position: absolute;
    z-index:1;
    height: 77vh;
    width: 80vw;
    left: 10vw;
    top: 0;
}

#information{
    position: absolute;
    z-index: -1;
    height: 77vh;
    width: 80vw;
    left: 10vw;
    top: 0; /** er dette nødvendig? **/
    padding-top: 5vh;
    padding-right: 25vh;
    font-size: 3.2vh;
    overflow: auto;
}

#information p{
    padding: 2vh;
    color: #6F6A7B;
    font-family: 'Lato', sans-serif;
}

#information i{
    color: #6F6A7B;
    font-family: 'Lato', sans-serif;
}

#about{
    position: absolute;
    z-index: -1;
    height: 77vh;
    width: 80vw;
    left: 10vw;
    top: 0;
    padding-top: 5vh;
    padding-right: 25vh;
    font-size: 3.2vh;
    overflow: auto;
}

#about p{
    padding: 2vh;
    color: #627898;
    font-family: 'Lato', sans-serif;
}

#about a{
    color: #627898;
    font-family: 'Lato', sans-serif;
}

#about i{
    color: #6F6A7B;
    font-family: 'Lato', sans-serif;
}

#about a:hover{
    opacity: 0.5;
}


.sporsmal{
    width: 65vw;
    margin: auto;
    padding-top: 3vh;
}

.sporsmal p{
    color: #627898;
    font-size: 3vw;
    text-align: center;
}

.labels{
    z-index: 2;
    height: 6vh;
    width: 35vw;
    position: absolute;
    left:25vw;
    top:63vh;
}

.icons{
    z-index: 2;
    height: 10vh;
    width: 40vw;
    position: absolute;
    left:23.25vw;
    top:67vh;
}

.icons img{
    height: 3.5vw;
    width: 3.5vw;
    margin-left: 3.3vw;
    cursor: pointer;
    box-shadow: 0.1vh 0.1vh 1vh 0 #372F49;
}

.icons img:hover{
    box-shadow: 0.4vh 0.4vh 1vh 0 #372F49;
}

#label1, #label2, #label3, #label4, #label5{
    height: 100%;
    width: 20%;
    display: inline-block;
    position: relative;
    float: left;
    text-align: center;
    font-size: 3vh;
}

.labels p{
    color: #627898;
}

#sideteller {
    width: 20vw;
    margin: auto;
    margin-top: 4vh;
    padding-bottom: 2.8vh;
    border-bottom: 0.2vh solid #664B6A;
}

#sideteller p{
    color: #664B6A;
    text-align: center;
    font-size: 1.5vw;
}

#question1, #question2, #question3, #question4{
    height: 67vh;
/*    border: 2px solid rgb(0, 0, 256);*/
}

.lite, .mye{
    height: 30vh;
    width: 10vw;
    float: left;
}

.lite p, .mye p{
    font-size: 1.2vw;
    margin-top: 19vh;
    color: #6F6A7B;
}

.lite p{
    text-align: right;
}

.lite{
    margin-left: 12vw;
}

.mye{
    margin-left: 36vw;
}

#question3 .mye{
    margin-left: 5vw;
}

#question3 .mye p, #question3 .lite p{
    font-size: 1vw;
    margin-top: 5vh;
}

#ml1 p, #ml2 p{
    margin-bottom: 25vh;
}

#slider_rangering, #slider_tidsbruk{
    background-color: #CFD1CD;
    width: 30vw;
    margin: auto;
    margin-top: 20vh;
/*    border: 2px solid rgba(0, 256, 0, 1)*/
}


#s1, #s2, #s3, #s4, #s5{
    height:25vh;
    float:left;
/* Relativ til its default posisjon.. 
    Vanskelig, finner ingen annen løsning 
    dårlig med zoom */
    position: relative;
    bottom: 18vh;
    margin-left: 6vw;
    margin-top: 25vh;
    background-color: #CFD1CD;
}

#bottom{
    z-index: 3;
    height:8vh;
    width: 100vw;
    background-color: #664B6A;
/*    Always stay in the bottom of page*/
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 1vh 0.5vh #664B6A;
}

#bottom_bars{
    position: relative;
    width:80vw;
    left: 10vw;
}

.bottom_button{
    position: absolute;
    display:inline-block;
    height: 6vh;
    width: 15vw;
    top: 1vh;
    cursor: pointer;
    opacity: 0.5;
    line-height: 5vh;
    text-align: center;
    color: #CFD1CD;
    font-size: 1.5vw;
    font-family: 'Lato', sans-serif;
}

.bottom_button:hover{
    opacity: 1;
    text-shadow: 0 0 0.5vh #FFFFFF;
    background-color: rgba(255, 255, 255, 0.5);
    background: radial-gradient(rgba(255,255,255,0.3), #664B6A, #664B6A);
}

#evaluationButton{
    left: 1vw;
    opacity: 1;
    text-shadow: 0 0 0.5vh #FFFFFF;
    background-color: rgba(255, 255, 255, 0.5);
    background: radial-gradient(rgba(255,255,255,0.3), #664B6A, #664B6A);
}

#informationButton{
    left: 17vw;
}

#aboutButton{
    left: 33vw;
}

.bottom_flag{
    position: relative;
    height: 6vh;
    width: 6vh;
    border-radius: 3vh;
    margin-right: 1vw;
    margin-top: 1vh;
    background-color: #CFD1CD;
    float: right;
    border: dotted;
    border-width: 0.5vh;
    cursor: pointer;
}

.bottom_flag img{
    position: absolute;
    height: 3vh;
    width: 4vh;
    top: 1vh;
    right: 0.5vh;
}

#british img, #finland img{
    opacity: 0.3;
    border-color: #CFD1CD;
}

#norway{
    border-color: #627898;
}
#norway img{
    opacity: 1;
}

#send {
    display:inline-block;
    height: 7vh;
    width: 20vw;
    border-radius: 1vh;
    margin-top: 3vh;
    cursor: pointer;
    line-height: 5vh;
    opacity: 0.9;
    text-align: center;
    color: #CFD1CD;
    background-color: #664B6A;
    box-shadow: 0.2vh 0.2vh 1vh 0 #372F49;
    position: fixed;
    left: 40vw;
}

#send:hover{
    box-shadow: 0.4vh 0.4vh 1vh 0 #372F49;
}

#send:hover > p{
    opacity:1;
    text-shadow: 0 0 0.5vh #FFFFFF;
    background-color: rgba(255, 255, 255, 0.5);
    background: radial-gradient(rgba(255,255,255,0.15), #664B6A, #664B6A);
}

#send p{
    opacity: 0.7;
    color: #CFD1CD;
    margin-top: 1vh;
    font-size: 2vw;
    font-family: 'Lato', sans-serif;
}

textarea{
    width: 60vw;
    height: 30vh;
    margin-left: 10vw;
    margin-top: 15vh;
    color: #372F49;
    font-size: 1.8vw;
    font-family: 'Lato', sans-serif;
    border-color: #372F49;
    border-radius: 1vh;
    border-width: 0.3vh;
    resize: none;
}

textarea:hover,
textarea:active,
textarea:focus {
    outline:0 !important;
    -webkit-appearance:none;
}

.iframe{
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

