*{
    margin:0;
    font-family: 'Lato', sans-serif;
    color:#CFD1CD;
/*     border: 2px solid rgba(256, 0, 0, 0.3);*/
    box-sizing: border-box; /* change default box behavior */
}

body{
    height: 100vh;
    width: 100vw; /** why not *//
    background-color: #CFD1CD;
}

#top{
    height:15vh; /** 15 % relative to view height **/
    background-color: #372F49;
}

#top img{
    height: 95%; /** 15 % relative to its box **/
    display:block;
    margin-left:auto;
    margin-right: auto;
    padding:0.25%;
}


#tilbake, #fram {
    height:77vh;
    width:10%;
    position: fixed; /* Alltid samme posisjon på siden */
    cursor: pointer;
/*    Alltid ligge øverst, gi stor z-index*/
    z-index: 9;
}

#tilbake{
    left: 0;
    color: #CFD1CD;
    font-size: 15vh;
    padding-top: 13%;
    padding-left: 2.5%;
}


#fram{
    right: 0;
    color: #CFD1CD;
    font-size: 15vh;
    padding-top: 13%;
    padding-left: 2.5%;
}

#fram:hover, #tilbake:hover {
/*    Kode kan eventuelt legges i jQuery for dette*/
    background-color: rgba(207,209,205,0.2);
    color: #CFD1CD;
    font-weight: bolder;
}

#content{
    position: fixed;
    height:77vh;
    width: 80%;
    margin-left: 10%;
/*    border: 2px solid rgb(0, 256, 0);*/
}

.sporsmal{
    width: 65%;
    margin: auto;
    padding-top: 3%;
}

.sporsmal p{
    color: #627898;
    font-size: 6vh;
    text-align: center;
}

#sideteller {
    width: 20%;
    margin: auto;
    margin-top: 2%;
    padding-bottom: 1%;
    border-bottom: 2px solid rgb(0, 0, 0);
}

#sideteller p{
    color: crimson;
    text-align: center;
    font-size: 3vh;
}

#question1, #question2, #question3, #question4{
    height: 90%;
/*    border: 2px solid rgb(0, 0, 256);*/
}

#slider_rangering, #slider_tidsbruk{
    background-color: #CFD1CD;
    width: 30%;
    margin:auto;
    margin-top: 10%;
/*    border: 2px solid rgba(0, 256, 0, 1)*/
}


#question3 > span {
    height:50%;
    float:left;
    position: relative;
/* Relativ til its default posisjon.. 
    Vanskelig, finner ingen annen løsning 
    dårlig med zoom */
    left: 26vw;
    bottom: 18vh;
    margin:2em;
    margin-top:15%;
    background-color: #CFD1CD;
}


#s1 {
    /* border: 1px solid rgba(0, 0, 256, 1) */
}

#bottom{
    height:8vh;
    width: 100%;
    background-color: #664B6A;
/*    Always stay in the bottom of page*/
    position: fixed; 
    bottom: 0;
}

#bottom_bars{
    width:80%;
    margin:auto;
}

.bottom_button{
    display:inline-block;
    height: 6vh;
    width: 15%;
    margin: 0.5%;
    border: 1px solid #CFD1CD;
    cursor: pointer;
    opacity: 0.8;
    line-height: 200%;
    text-align: center;
    color: #CFD1CD;
    font-size: 1vw;
}


#send {
    display:inline-block;
    height: 7vh;
    width: 20%;
    border-radius: 1vh;
    margin-top: 3%;
    cursor: pointer;
    opacity: 0.8;
    line-height: 200%;
    text-align: center;
    color: #CFD1CD;
    background-color: #664B6A;
    position: fixed;
    left: 40%;
}

#send:hover{
    opacity: 1;
}

#send p{
    color: #CFD1CD;
    margin-top: 1vh;
    font-size: 5vh;
    font-family: 'Lato', sans-serif;
}

textarea{
    width: 80%;
    height: 30%;
    margin-left: 10%;
    margin-top: 15%;
    color: #372F49;
    font-size: 1.8vw;
    font-family: 'Lato', sans-serif;
    border-color: #372F49;
    border-radius: 1vh;
    border-width: 0.3vh;
    resize: none;
}
textarea:hover,
textarea:active,
textarea:focus {
    outline:0 !important;
    -webkit-appearance:none;
}

.bottom_button:hover{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.5);
    font-style: italic;
}

body, html{
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    overflow: hidden;
}

.iframe{
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
