*{
    margin:0;
    font-family: 'Lato', sans-serif;
    color:#CFD1CD;
/*     border: 2px solid rgba(256, 0, 0, 0.3);*/
    box-sizing: border-box; /* change default box behavior */
}

body{
    height: 100vh;
    width: 100vw; /** why not *//
    background-color: #CFD1CD;
}

body, html{
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    overflow: hidden;
}

#top{
    height:15vh; /** 15 % relative to view height **/
    background-color: #372F49;
}

#top img{
    height: 95%; /** 15 % relative to its box **/
    display:block;
    margin-left:auto;
    margin-right: auto;
    padding:0.25%;
}


#tilbake, #fram {
    height:77vh;
    width:10vw;
    position: fixed; /* Alltid samme posisjon på siden */
    cursor: pointer;
    color: #CFD1CD;
    line-height:50vh;
    font-size: 15vh;
    padding-top: 13vh;
    padding-left: 2.5vw;
/*    Alltid ligge øverst, gi stor z-index*/
    z-index: 9;
}

#tilbake{
    left: 0;
}


#fram{
    right: 0;
}

#fram:hover, #tilbake:hover {
/*    Kode kan eventuelt legges i jQuery for dette*/
    background-color: rgba(207,209,205,0.2);
    color: #CFD1CD;
    font-weight: bolder;
}

#content{
    position: fixed;
    height:77vh;
    width: 80vw;
    margin-left: 10vw;
/*    border: 2px solid rgb(0, 256, 0);*/
}

.sporsmal{
    width: 65vw;
    margin: auto;
    padding-top: 3vh;
}

.sporsmal p{
    color: #627898;
    font-size: 6vh;
    text-align: center;
}

#sideteller {
    width: 20vw;
    margin: auto;
    margin-top: 4vh;
    padding-bottom: 2.8vh;
    border-bottom: 0.2vh solid #664B6A;
}

#sideteller p{
    color: #664B6A;
    text-align: center;
    font-size: 3vh;
}

#question1, #question2, #question3, #question4{
    height: 67vh;
/*    border: 2px solid rgb(0, 0, 256);*/
}

#slider_rangering, #slider_tidsbruk{
    background-color: #CFD1CD;
    width: 30vw;
    margin:auto;
    margin-top: 20vh;
/*    border: 2px solid rgba(0, 256, 0, 1)*/
}


#question3 > span {
    height:25vh;
    float:left;
    position: relative;
/* Relativ til its default posisjon.. 
    Vanskelig, finner ingen annen løsning 
    dårlig med zoom */
    left: 26vw;
    bottom: 18vh;
    margin: 2em;
    margin-top: 25vh;
    background-color: #CFD1CD;
}


#s1 {
    /* border: 1px solid rgba(0, 0, 256, 1) */
}

#bottom{
    height:8vh;
    width: 100vw;
    background-color: #664B6A;
/*    Always stay in the bottom of page*/
    position: absolute;
    left: 0;
    bottom: 0;
}

#bottom_bars{
    position: relative;
    width:80vw;
    left: 10vw;
}

.bottom_button{
    position: absolute;
    display:inline-block;
    height: 6vh;
    width: 15vw;
    top: 1vh;
    border: solid #CFD1CD;
    border-left-width: 0.1vw;
    border-right-width: 0.1vw;
    border-top-width: 0.25vh;
    border-bottom-width: 0.25vh;
    cursor: pointer;
    opacity: 0.8;
    line-height: 5vh;
    text-align: center;
    color: #CFD1CD;
    font-size: 3vh;
    font-family: 'Lato', sans-serif;
}

.bottom_button:hover{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.5);
    font-style: italic;
}

#evaluation{
    left: 1vw;
}

#about{
    left: 17vw;
}

.bottom_flag{
    position: relative;
    height: 6vh;
    width: 6vh;
    border-radius: 3vh;
    margin-right: 1vw;
    margin-top: 1vh;
    background-color: #CFD1CD;
    float: right;
    border: dotted;
    border-width: 0.5vh;
    cursor: pointer;
}

.bottom_flag img{
    position: absolute;
    height: 3vh;
    width: 4vh;
    top: 1vh;
    right: 0.5vh;
}

#british img{
    opacity: 0.3;
    border-color: #CFD1CD;
}

#norway{
    border-color: #627898;
}
#norway img{
    opacity: 1;
}

#send {
    display:inline-block;
    height: 7vh;
    width: 20vw;
    border-radius: 1vh;
    margin-top: 3vh;
    cursor: pointer;
    opacity: 0.8;
    line-height: 5vh;
    text-align: center;
    color: #CFD1CD;
    background-color: #664B6A;
    position: fixed;
    left: 40vw;
}

#send:hover{
    opacity: 1;
}

#send p{
    color: #CFD1CD;
    margin-top: 1vh;
    font-size: 5vh;
    font-family: 'Lato', sans-serif;
}

textarea{
    width: 60vw;
    height: 30vh;
    margin-left: 10vw;
    margin-top: 15vh;
    color: #372F49;
    font-size: 1.8vw;
    font-family: 'Lato', sans-serif;
    border-color: #372F49;
    border-radius: 1vh;
    border-width: 0.3vh;
    resize: none;
}
textarea:hover,
textarea:active,
textarea:focus {
    outline:0 !important;
    -webkit-appearance:none;
}

.iframe{
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
